.bg-warning{
		padding: 20px;
		background: red;
		color: white;
}
.bg-success{
		padding: 20px;
		background: green;
		color: white;
}

.checkbox-wrapper{
	width: 30px;
	height: 30px;
	border:2px solid red;
	border-radius: 5px;
}

.checkbox-wrapper .checkbox{
	width: 100%;
    color: red;
    margin: 0px;
    line-height: 2.2;
    text-align: center;
    font-weight: bold;
    display: block;
    cursor: pointer;
}

.checkbox-wrapper.checked .checkbox{
	display: none;
	cursor:pointer;

}